<!DOCTYPE html>
<html>
<html lang="en">

<head>
    <title>Hit all the spots</title>
    <!-- <link rel='stylesheet' href='style.css' type='text/css'> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <!-- LIBRARIES! -->
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.css' rel='stylesheet' />
    <script type="text/javascript">
    $(document).ready(function() {
        console.log("document is ready");

        // move map to new center point

        // get nearby places
        $("#placesForm").submit(function(e) {
            e.preventDefault();
            $.ajax({
                url: "http://localhost:3000/getplaces",
                type: 'POST',
                data: $('#placesForm').serialize(),
                dataType: 'json',
                success: function(data) {
                    console.log("let's plot!");
                    console.log(data);

                    var origroute = data.origroute.routes[0].geometry;
                    var newroute = data.newroute.routes[0].geometry;
                    var waypoints = data.waypoints;
                    var startpoints = data.startPlaces;
                    var endpoints = data.endPlaces;
                    var start = data.start;
                    var end = data.end;

                    map.addSource('waypoints', { type: 'geojson', data: waypoints });
                    map.addSource('startpoints', { type: 'geojson', data: startpoints });
                    map.addSource('endpoints', { type: 'geojson', data: endpoints });

                    map.addLayer({
                        "id": "startpoints",
                        "type": "circle",
                        "source": "startpoints",
                        "paint": {
                            "circle-radius": {
                                property: 'count',
                                type: 'exponential',
                                stops: [
                                    [1, 5],
                                    [110000, 20]
                                ]
                            },
                            "circle-color": "rgba(0, 0, 0, 0)",
                            "circle-stroke-width": 1,
                            "circle-stroke-color": "#ff2244",
                            "circle-opacity": 0.8
                        }
                    });
                    map.addLayer({
                        "id": "endpoints",
                        "type": "circle",
                        "source": "endpoints",
                        "paint": {
                            "circle-radius": {
                                property: 'count',
                                type: 'exponential',
                                stops: [
                                    [1, 5],
                                    [110000, 20]
                                ]
                            },
                            "circle-color": "rgba(0, 0, 0, 0)",
                            "circle-stroke-width": 1,
                            "circle-stroke-color": "#ff2244",
                            "circle-opacity": 0.8
                        }
                    });
                    map.addLayer({
                        "id": "waypoints",
                        "type": "circle",
                        "source": "waypoints",
                        "paint": {
                            "circle-radius": {
                                property: 'count',
                                type: 'exponential',
                                stops: [
                                    [1, 5],
                                    [110000, 20]
                                ]
                            },
                            "circle-color": "#ff2244",
                            "circle-opacity": 0.6
                        }
                    });
                    

                    // original route
                    map.addLayer({
                        id: 'origroute',
                        type: 'line',
                        source: {
                            type: 'geojson',
                            data: {
                                type: 'Feature',
                                geometry: origroute
                            }
                        },
                        paint: {
                            'line-width': 2,
                            'line-color': "#0033cc",
                            'line-opacity': 0.5
                        }
                    });

                    // new route
                    map.addLayer({
                        id: 'newroute',
                        type: 'line',
                        source: {
                            type: 'geojson',
                            data: {
                                type: 'Feature',
                                geometry: newroute
                            }
                        },
                        paint: {
                            'line-width': 2,
                            'line-color': "#ff2244",
                            'line-opacity': 0.5
                        }
                    });

                    // start and end points
                    map.addLayer({
                        id: 'start',
                        type: 'circle',
                        source: {
                            type: 'geojson',
                            data: {
                                type: 'Feature',
                                geometry: {
                                    type: 'Point',
                                    coordinates: [start.longitude,start.latitude]
                                }
                            }
                        },
                        paint: {
                            "circle-radius": 5,
                            "circle-color": "#0033cc"
                        }
                    });
                    map.addLayer({
                        id: 'end',
                        type: 'circle',
                        source: {
                            type: 'geojson',
                            data: {
                                type: 'Feature',
                                geometry: {
                                    type: 'Point',
                                    coordinates: [end.longitude,end.latitude]
                                }
                            }
                        },
                        paint: {
                            "circle-radius": 5,
                            "circle-color": "#0033cc"
                        }
                    });


                    //displayPlaces(data);
                    

                },
                error: function() {
                    alert("error");
                }
            });

        })
    });
    </script>
</head>

<body>
    <form method="POST" id="placesForm">
        <input type="text" name="startlocation" placeholder="start here" />
        <input type="text" name="endlocation" placeholder="end here" />
        <input type="text" name="distance" placeholder="max 5000" />
        <input type="submit" name="submitbutton" value="Submit" />
    </form>
    <div id="map" style='width: 800px; height: 800px;'>
        <script type="text/javascript">
        mapboxgl.accessToken = 'pk.eyJ1Ijoic3RlcGhrb2x0dW4iLCJhIjoiY2o5cmVidXlkMmFmdTJxbnRxMjJrZnRjYyJ9.DG7R1V9RYEtCBoXVb9AiFQ';

        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/stephkoltun/cj9x3w68h6cfn2sp79qivfl6m?optimize=true',
            center: [-73.9958957, 40.7294285],
            // make it the start point of the map - needs to be long-lat (not lat-long)
            zoom: 14 // how close
        });
        </script>
    </div>
</body>

</html>