<!DOCTYPE html>
<html>
<html lang="en">

<head>
    <title>Hit all the spots</title>
    <!-- <link rel='stylesheet' href='style.css' type='text/css'> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        console.log("document is ready");

        $("#placesForm").submit(function(e) {
            e.preventDefault();
            $.ajax({
                url: "http://localhost:3000/setplaces",
                type: 'POST',
                data: $('#placesForm').serialize(),
                dataType: 'json',
                success: function(data) {
                    console.log(data);
                },
                error: function() {
                    alert("error");
                }
            });

        })
    });

/*    function submitPlaces() {
        console.log("make ajax request");

        $.ajax({
            url: "localhost:3000/setplaces",
            type: 'POST',
            //data: ,
            dataType: 'json',
            success: function(data) {
                console.log(data);
            },
            error: function() {
                alert("error");
            }
        });
    }*/
    </script>
</head>

<body>
    <form method="POST" id="placesForm">
        <input type="text" name="startlocation" placeholder="start here" />
        <input type="text" name="endlocation" placeholder="end here" />
        <input type="text" name="distance" placeholder="max 5000" />
        <input type="submit" name="submitbutton" value="Submit" />
    </form>
    <div id="map">
        <script type="text/javascript">
        //console.log(places);
        /*mapboxgl.accessToken = 'undefined';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v9',
            center: [], // make it the start point of the map
            zoom: 12 // how close
        });*/

        //new Map = 
        //https://www.mapbox.com/mapbox-gl-js/api/
        </script>
    </div>
</body>

</html>